DB_URL=jdbc:mariadb://localhost:3306/flashcard_app
DB_USER=mariadb_username
DB_PASSWORD=mariadb_password
DOCKER_DB_PASSWORD=your_container_database_password
DOCKER_DB_ROOT_PASSWORD=your_container_root_password